<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Control 아두이노 LEF <%= title %></p>
<a href="/rope/on">LED 켜기</a>
<a href="/rope/off">LED 끄기</a>
</body>
</html>